@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

/* *::selection {
    background:#15616d;
    color: white;
} */

body {
    color: #15616d;
    background: white;
}

header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    z-index: 1000;
    align-items: center;
    justify-content: space-between;
    padding: 30px 170px;
    background: #001524;
}

.logo {
    color: #ff7d00;
    font-weight: 600;
    font-size: 2.4rem;
}

.logo span{
    color: #ffecd1;
}

.navbar {
    display: flex;
}

.navbar a {
    color: #ffecd1;
    font-size: 1.1rem;
    padding: 10px 20px;
    font-weight: 500;
}

.navbar a:hover {
    color: #ff7d00;
    transition: .2s;
}